@model BlueOath.Models.Room

@{
    ViewData["Title"] = "Create";
}

<h4 class="display-5 mt-3">Create Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="RoomType" class="form-label"></label>
                <input asp-for="RoomType" class="form-control" />
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Facilities" class="form-label"></label>
                <input asp-for="Facilities" class="form-control" />
                <span asp-validation-for="Facilities" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Rate" class="form-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="RoomImage" class="form-label"></label>
                <input asp-for="RoomImage" accept="image/*" type="file" class="form-control" />
                <span asp-validation-for="RoomImage" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-5" role="button">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
