@{
    ViewData["Title"] = "Welcome";
}

<div class="vh-70 text-center container">
    <div class="m-auto">
        <h1>Welcome to BlueOath!</h1>
        <blockquote>
            <h5>We aim to please</h5>
        </blockquote>
    </div>
</div>
